@import '@liveblocks/react-ui/styles.css';
@import '@liveblocks/react-tiptap/styles.css';

.editor-root {
}

/* For mobile */
.floating-threads {
  display: none;
}

/* For desktop */
.anchored-threads {
  display: block;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 12px;
}

@media (max-width: 640px) {
  .floating-threads {
    display: block;
  }

  .anchored-threads {
    display: none;
  }
}

div[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}

.collaboration-cursor__caret {
  margin-inline: 0;
}
